body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1fef4;
}
header {
    background-color: #f1fef4;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav .c-left, nav .c-right {
    display: flex;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #011b33a1;
    margin: 0 10px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: none;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin: 0 10px;
}
nav button {
    background-color: #3bb75e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
nav button:hover {
    background-color: #d3e3fd;
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: all 0.3s ease;
}
.menu {
    display: flex;
}
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #f1fef4;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
}
.mobile-menu a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    font-weight: bold;
}
main {
    margin-top: 80px;
    padding: 20px;
}
.mobile-menu  button {
    background-color: #3bb75e;
    color: white;
    border: none;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 300px;
    margin-left: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}
.wrap-left, .wrap-right {
    flex: 1;
    padding: 20px;
    text-align: left;
}
.wrap-left {
    background-color: #FFFFFF;
}
.wrap-right {
    background-color: #F5FFF5;
}
.wrap-left h2, .wrap-right h1, .wrap-right h2 {
    font-size: 2rem;
    color: #333;
}
.wrap-left p, .wrap-right p {
    font-size: 1.25rem;
    color: #555;
}
.buttons {
    margin-top: 20px;
}
.buttons .btn-primary {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}
.buttons .btn-secondary {
    color: #28a745;
    text-decoration: none;
    padding: 10px 20px;
}
.buttons .btn-primary:hover {
    background-color: #218838;
}
.buttons .btn-secondary:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .menu-toggle {
        display: flex;
        position: absolute;
        right: 20px; /* Position the toggle button to the right edge */
    }
    .mobile-menu.show {
        display: flex;
    }
    .menu-toggle.open div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    .menu-toggle.open div:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.open div:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
    .container {
        flex-direction: column;
    }
}

/* New Styles for Cards Section */
.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    text-align: center;
    flex: 1;
    max-width: 300px;
}
.card img {
    max-width: 100%;
    border-radius: 10px;
}
.card h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
}
.card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}
.card a {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}
.card a:hover {
    text-decoration: underline;
}
